/* src/components/styles/Cart.css */
.cart {
    padding: 1em;
    border: 1px solid  #0c9c9c;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 300px;
    margin: 1em;
  }
  
  .cart-item {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  
  .checkout-button {
    display: block;
    margin: 1em auto;
    padding: 1em;
    background-color: #e2917b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    text-align: center;
  }
  
  .checkout-button:hover {
    background-color: #45a049;
  }